*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div.carta {

    background-color: aquamarine;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: blueviolet;

}

